/* Write your CSS here! */

/* ELEMENTS */

body {
    font-family: "Arial";
    color: rgb(210, 207, 207); 
    background-color: rgb(31, 30, 30);
    font-weight: 400;
    width: 100vw;
    height: 100vh;
    margin: 8px;
    overflow-x: hidden; 
}

header {
    font-family: "Arial";
    text-align: center;
    color: black;
    background-color: rgb(0, 128, 128);
    padding: 8px;
}

main {
    width: 100vw;
    padding: 30px;
    box-sizing: border-box;    
}

footer {
    font-family: 'Times New Roman';
    color: black;
    background-color: rgb(248, 83, 23);
    padding: 8px;
}

table {
    text-align: center;
    
}


/* IDS */
#mainHeading {
    color: red;
    font-size: 28pt;
}

#testP {
    color: blue;
}


/* CLASSES */
.funParagraph {
    color: green;
}

.horizontalPic {
    width: 350px;
    height: 250px;
    margin: 5px;
}

.verticalPic {
    width: 250px;
    height: 350px;
}

.tablePic {
    width: 100px;
    height: 100px;
}


/* REQUIREMENTS:
Your CSS must:

Use margin and padding to space your elements in a visually pleasing manner.

Use at least one of each of the following types of selectors:

element
class
id
Follow these rules:

Use the element selector to give the <body> element a margin value of 8px and a display type of block.
Give a heading on your page the id of mainHeading and use the id selector in styles.css to make the color red and apply any additional styling of your choosing.
Give a paragraph on your page the id of testP and a class name of funParagraph. Use the class selector in styles.css and make the color green and give it any additional styling of your choosing.
We ask that you implement the styling as requested. You will be asked to explain and point out your additional styling choices to your TA during your code review. Have fun with creating your assignment. If any of the styling requirements do not suit your personal tastes and you want to share your work on this assignment as part of a portfolio, you can change it after the end of the unit.
*/